nav{
    background-color: $orange;
    padding: 15px;
    text-align: center;

    nav h2{
        color: #FFFFFF;
    }
}
h2{
    color: $melon;
}
container{
    background-color: $lime;
    padding: 20px;
}
div{
    text-align: center;
}