$lime: #e4fdc3;
$mint: #8ae2c8;
$orange: #e89b6a;
$melon: #e2625c;

body{
    font-family: Verdana, sans-serif;
}

h2{
    color: $melon;
}
div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: $orange;
    color: #FFFFFF;
    padding: 10px;
    border: none;
}
#kitchen{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.newsletter{
    background-color: $lime;
    padding: 20px;
}
.row {
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

    img {
        width: 300px;
        max-width: 100%;
        height: auto;
    }
    p {
        margin-top: 10px;
        text-align: center;
        color: $melon;
    }
}
.top{
    background-color: $orange;
    padding: 15px;
    text-align: center;

    h2{
        color: #FFFFFF;
    }

    p{
        color: #FFFFFF;
    }
}
.bottom{
    background-color: $mint;
    padding: 15px;
    text-align: center;
    
    p{
        color: #FFFFFF;
    }
}