body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5 {
    font-family: 'Algreya', serif;
}

h6, a, li, span {
    font-family: 'Merriweather', serif;
}

.navbar {
    transition: all 0.3s ease;
    padding: 20px;
}

.parallax-container {
    height: 400px !important;
    background: rgba(0, 0, 0, 0.5);
}

.parallax {
    z-index: 0;
}

.parallax img {
    width: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.book-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-card img {
    height: 300px;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}